*.pyc
*.svg
*.png
*.csv
*.tar.gz*
*.pkl.gz
.dataset
build/
test_time/
tests/core.*
.vscode/
CIFAR_10/
CIFAR_100/
update.sh
cmake/config.cmake
.hypothesis/
examples/hetero/_cache.pkl
examples/hetero/experiments/
examples/hetero/data/
examples/malleus/data/
examples/efficiency/exp
examples/efficiency/draw
third_party/nccl/
examples/hotspa/data/
examples/hydraulis/data/
examples/hydraulis/*.pkl
examples/hydraulis/func_call/
examples/hydraulis/dataset_analysis/
examples/hydraulis/results
examples/hydraulis/draw
examples/ampelos/data


# Python
*.png
*.json
*.txt
.mypy_cache
*/*.pyc
*/*.so*
*/**/__pycache__
*/**/*.dylib*
*/**/*.pyc
*/**/*.pyd
*/**/*.so*
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
build/
dist/
env/
eggs/
logs/
ckpt/

# IPython notebook checkpoints
.ipynb_checkpoints

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# VSCode
.vscode

# PyCharm
.idea

# DS_Store
.DS_Store

# grpc
hetu/impl/communication/rpc
*_pb2.py
*_pb2.pyi
*_pb2_grpc.py
*_pb2_grpc.pyi

# Codegen
python/hetu/_binding/autograd/ops/generated/
python/hetu/_binding/graph/generated

# third party
# hetu/flash_attn

# Open Source
**/env_4090.sh
**/env_A100.sh
**/host.yaml
examples/vit/data/7202c44815f7add69428683d2d69d1f2-LLaMADataset-sample_index.npy
examples/vit/data/d082411cdd87666a2ec90437895793e8-LLaMADataset-sample_index.npy
examples/vit/data/ea9565d4b10043db4f3bceebb0a16b31-LLaMADataset-sample_index.npy
examples/vit/data/wikipedia_zea-llama_text_document.bin
examples/vit/data/wikipedia_zea-llama_text_document.idx
examples/vit/data/wikipedia_zea-llama_text_document/cache/LLaMAJsonDataset_indices/03c389b1cd9d42e0767a69b9abb2fb66-LLaMAJsonDataset-sample_index.npy
examples/vit/data/wikipedia_zea-llama_text_document/cache/LLaMAJsonDataset_indices/5f46bc5c1d9c9dde156f6e3f5df769a9-LLaMAJsonDataset-sample_index.npy
examples/vit/data/wikipedia_zea-llama_text_document/cache/LLaMAJsonDataset_indices/9ac188a5681900cc21df56a589c77b86-LLaMAJsonDataset-sample_index.npy
examples/vit/data/wikipedia_zea-llama_text_document/cache/LLaMAJsonDataset_indices/14e9cdb6526b04cca289bc11649c8390-LLaMAJsonDataset-sample_index.npy
examples/vit/data/wikipedia_zea-llama_text_document/cache/LLaMAJsonDataset_indices/21b3ba79daeb6be6114cf2e2edcc2ac8-LLaMAJsonDataset-sample_index.npy
examples/vit/data/wikipedia_zea-llama_text_document/cache/LLaMAJsonDataset_indices/42a19ecb30affdc49cb73e362146de6b-LLaMAJsonDataset-sample_index.npy
examples/vit/data/wikipedia_zea-llama_text_document/cache/LLaMAJsonDataset_indices/79b98f5e21bb7b71bcd5e2c583a774fb-LLaMAJsonDataset-sample_index.npy
examples/vit/data/wikipedia_zea-llama_text_document/cache/LLaMAJsonDataset_indices/314c3b41b6ad85b6395c371c34ec162e-LLaMAJsonDataset-sample_index.npy
examples/vit/data/wikipedia_zea-llama_text_document/cache/LLaMAJsonDataset_indices/656a2d77273219ea8c187765192a321e-LLaMAJsonDataset-sample_index.npy
examples/vit/data/wikipedia_zea-llama_text_document/cache/LLaMAJsonDataset_indices/663c8cd3ad5ee2cdcf6dde96080acee5-LLaMAJsonDataset-sample_index.npy
examples/vit/data/wikipedia_zea-llama_text_document/cache/LLaMAJsonDataset_indices/927dcc82d99f15e9ac94a2e8dd90f4a8-LLaMAJsonDataset-sample_index.npy
examples/vit/data/wikipedia_zea-llama_text_document/cache/LLaMAJsonDataset_indices/4078a893e13e4fb551d28a0e21bcf7fb-LLaMAJsonDataset-sample_index.npy
examples/vit/data/wikipedia_zea-llama_text_document/cache/LLaMAJsonDataset_indices/61960b74ffbb9e2323b5bc73125516c2-LLaMAJsonDataset-sample_index.npy
examples/vit/data/wikipedia_zea-llama_text_document/cache/LLaMAJsonDataset_indices/76359fb01f84faf6e31476da5f33b026-LLaMAJsonDataset-sample_index.npy
examples/vit/data/wikipedia_zea-llama_text_document/cache/LLaMAJsonDataset_indices/894069b725b83f50dadf7babc5444f06-LLaMAJsonDataset-sample_index.npy
examples/vit/data/wikipedia_zea-llama_text_document/cache/LLaMAJsonDataset_indices/6284924a176db8bc52b8895d69dadc0f-LLaMAJsonDataset-sample_index.npy
examples/vit/data/wikipedia_zea-llama_text_document/cache/LLaMAJsonDataset_indices/ae55ccdf0bcd34a19dbb2220384562c6-LLaMAJsonDataset-sample_index.npy
examples/vit/data/wikipedia_zea-llama_text_document/cache/LLaMAJsonDataset_indices/d9234d15973b03bac87649e9aec483b5-LLaMAJsonDataset-sample_index.npy
examples/vit/data/wikipedia_zea-llama_text_document/cache/LLaMAJsonDataset_indices/d81327d76b4506ae857ebc43e922c893-LLaMAJsonDataset-sample_index.npy
examples/vit/data/wikipedia_zea-llama_text_document/cache/LLaMAJsonDataset_indices/dacd9b868fd7a9c9e8d232e9fd3e8ada-LLaMAJsonDataset-sample_index.npy
examples/vit/data/wikipedia_zea-llama_text_document/cache/LLaMAJsonDataset_indices/f51d54ea6b15a3f1ad2ac55047038cb4-LLaMAJsonDataset-sample_index.npy
